.button {
  width: 150px;
  height: 50px;

  text-align: center;
  text-transform: uppercase;

  transition: background-color 1s;
  transition-duration: 1s;

  &__link {
    color: $mainColor;
    text-decoration: none;
    transition-duration: 1s;
  
  }
  &:hover {
    transition-duration: 1s;
    transform: scale(1.1);
    //background-color: #54cfdf;
  }
  a {
    display: inline-block;
    padding: 0px 30px 45px
  }
}
