.button {
  width: 150px;
  height: 50px;

  text-align: center;
  text-transform: uppercase;

  transition: background-color 0.5s;

  &__link {
    color: $mainColor;
    text-decoration: none;
  }
  &:hover {
    background-color: #54cfdf;
  }
}
