.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;

  letter-spacing: -0.01em;

  background-color: $blueColor;

  &__text {
    padding-left: 179px;
    
    font-size: 14px;
    line-height: 11px;
    color: $mainColor;
  }
}
@media screen and (max-width: $smallScreen) {
  .footer__text {
    padding-left: 10%;
  }
}
