.nav {
  color: $darkBlueColor;
  &__list {
    display: flex;
  }
  
  &__item {
    padding: 0 10px 5px;
    margin: 0 10px;
    list-style: none;
    transition: transform 0.5s color 0.5s;

    &:hover {
      transform: scale(1.1);
      color: $blueColor;
      border-bottom: 1px solid $darkBlueColor;
    }
  }
  &__link {
    color: $darkBlueColor;
    text-decoration: none;
  }
}

@media screen and (max-width: $smallScreen) {
  .nav {
    &__list {
      flex-direction: column;
    }
    &__item {
      padding: 5px ;
      margin-right: 30px;
      margin-bottom: 5px;
      
      font-size: 22px;
    }
  }
}
