.preview {
  max-width: 485px;

  &__heading {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.04em;

    text-transform: uppercase;

  }

  &__text {
    margin-right: 30px;

    font-size: 24px;
    line-height: 42px;
  }

  &__button {
    display: inline-block;
    padding: 19px 0;
    margin: 40px 0 80px;

    background-color: #f9b640;
    transition: transform 0.5s, background-color 0.5s;

    &:hover {
      transform: scale(1.1);
      background-color: #936b25;
    }
  }

  &__link {
    display: inline-block;
    padding-left: 38px;

    font-size: 16px;
    line-height: 23px;
    color: #f9b640;
    white-space: nowrap;

    text-decoration: none;
    text-transform: uppercase;
    transition: transform 300ms, color 300ms;

    &:hover {
      transform: scale(1.1);
      color: $orangeColor;
    }
  }
}

@media screen and (max-width: $smallScreen) {
  .preview {
    &__heading {
      padding-right: 30px;
    }
    &__button {
      margin: 40px;
    }
  }
}
@media screen and (max-width: $phoneScreen) {
  .preview {
    &__button {
      position: relative;
      right: 10px;
      
      margin: 40px 20px;
    }
    &__link {
      padding-left: 15px;
    }
  }
}
