* {
  box-sizing: border-box;
}

html {
  font-family: "Larsseit", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  color: $darkBlueColor;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
