.why {
  display: flex;
  justify-content: space-between;

  color: $mainColor;
  background-color: $blueColor;
  
  &__choice {
    margin-left: 178px;
    width: 555px;
  }
  
  &__heading {
    margin-top: 0;
    padding-top: 151px;

    color: $mainColor;
    font-size: 36px;
    line-height: 27px;
  }

  &__text {
    padding: 45px 0 86px;

    font-size: 18px;
    line-height: 35px;
  }

  &__strong {
    font-size: 24px;
    font-weight: bold;
  }

  &__img {
    width: 525px;

    background: center/ cover no-repeat url("../images/christopher-campbell-40367.png");
  }
}

@media screen and (max-width: $smallScreen) {
  .why {
    background: center/ cover no-repeat url("../images/christopher-campbell-40367.png");
    
    &__choice {
      margin: 0 40px;
      width: 100%;
    }
    &__heading {
      margin-top: 0;
      padding-top: 45px;
    }
    &__text {
      padding: 45px 0;
    }
    &__img {
      display: none;
    }
  }
}
